body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.container1 {
    height: 500px;
    display: flex;
    flex-direction: column;
    background: #1F2937;
    font-size: 64, #f9faf8;
    color: white;
    flex-wrap: wrap;
    gap: 8px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 24px;
    color: #F9FAF8;
}

ul, li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 0px;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: white;
}

.herosection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.herotext {
    flex-direction: column;
    max-width: 500px;
    max-height: 500px;

}

.awesome {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 8px;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px;

}

.firstpic {
    display: flex;
    max-width: 500px;
    max-height: 500px;
    margin: 20px;
}

.herobutton {
    display: flex;
    margin-right: auto;
    background-color: #3882f6;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    padding: 8px 30px;
    border-style: none;
}

.second {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.title {
    font-size: 36px; 
    font-weight: bolder;
    color:  #1f2937;
    padding: 40px;
}

.herotext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 200px;
}

.text {
    text-align: center;
    font-size: 14px;
    color: #828588;
}

.secondpics {
    width: 200px;
    height: 200px;
}

.container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 36px;    
    color: #1f2937;
    background-color: #e5e7eb;
}

.quote, .author {
    display: flex;
    justify-content: center;
    max-width: 700px;
} 

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    justify-content: center;
    color: #1f2937;
}

.author {
    font-weight: bold;
    font-size: 24px;
    justify-content: flex-end;

}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.backgroundcolor {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    border-radius:1em;
    padding: 36px;
    width: 75%;
}

.actiontext{
    display: flex;

    color: #f9faf8;
}

.call {
    font-weight: bold;
    font-size: 20px;
}

.click {
    font-weight: lighter;
    font-size: 18px;
}

.button2{
    display: flex;
    background-color: blue;
    font-size: 16px;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    padding: 8px 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #1F2937;
    font-size: 64, #f9faf8;
    color: white;
    padding: 8px;
    margin: 0px;
}